html {
  font-size: 16px;
}

* {
  color: #5abfbf;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b2a2a;
  padding: 20px;
}

section {
  background-color: #424242;
  padding: 10px;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.no-mar-pad {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.33rem;
  color: white;
}

#produk-terjual {
  margin-right: 20px;
}

#produk-terjual .color-box {
  width: 30px;
  height: 20px;
  margin-right: 8px;
}
#produk-terjual p {
  font-size: 0.7rem;
  color: white;
}

select,
option {
  color: black;
  font-weight: 400;
  font-size: 0.8rem;
}

#produk-terjual .legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
}

#produk-terjual hr {
  margin: 4px;
}

#produk-terjual span {
  color: #5abfbf;
  font-size: 1rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5abfbf;
  color: white;
}

#best-stores .table {
  margin-top: 8px;
}
